---
import Layout from '../layouts/Layout.astro';
import ProfileCheck from '../components/icons/ProfileCheck.astro';
import Badge from '../components/Badge.astro';
import LinkedIn from '../components/icons/LinkedIn.astro';
import SocialPill from '../components/SocialPill.astro';
import Github from '../components/icons/Github.astro';
import Mail from '../components/icons/Mail.astro';
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import BriefCase from '../components/icons/BriefCase.astro';
import Code from '../components/icons/Code.astro';
import Projects from '../components/Projects.astro';
import AboutMe from '../components/AboutMe.astro';
import Form from '../components/Form.astro';


---

<Layout title="Porfolio de Maki - Desarrollador y Programador de software" description="Contacta conmigo para obtener grandes beneficios como desarrollador de software">
	<main class="px-4">
		<SectionContainer class="py-72 pb-36">
			<img 
				src="../../public/IMG_20240311_172906.jpg" 
				alt="mgnx photo"
				class="rounded-full size-12 mb-4">

			<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-4"> Hola,soy Maki  <div class="flex justify-center items-center">
				<a href="https://www.linkedin.com/in/makidelavega/" target="_blank" rel="noopener" class="flex justify-center items-center">
					<Badge>Disponible para trabajar</Badge>
				</a>
			</div></h1>
			<h2 class="text-xl lg:text-2xl text-wrap max-w-[700px] "><span>2 años de experiencia.</span> <span class="text-color1">Desarrollador de sistemas web.</span>  <span>De Lima,Peru.</span> <span class="text-color1">Especializado en desarrollar sistemas full stack.</span></h2>
				<nav class="flex gap-4 mt-8 flex-wrap">
					<SocialPill href="https://www.linkedin.com/in/makidelavega/">
							<LinkedIn class="size-4 md:size-6 "/>
							LinkedIn
					</SocialPill>
					<SocialPill href="https://github.com/panteraxo">
						<Github class="size-4 md:size-6 "/>
						Github
					</SocialPill>
					<SocialPill href="mailto:delavegamaki@gmail.com">
					<Mail class="size-4 md:size-6 "/>
					delavegamaki@gmail.com
					</SocialPill>
					
				</nav>
		</SectionContainer>
		<SectionContainer class="py-56 pb-24" id="sobre-mi">
			<h2
			  class="flex items-center mb-6 text-3xl font-semibold gap-x-8  dark:text-white"
			>
			  <ProfileCheck class="size-8" />
			  Sobre mí
			</h2>
			<AboutMe />
		  </SectionContainer>
		<SectionContainer class="py-52 pb-24" id="experiencia">
			<h2 class="text-2xl text-color2/80 font-semibold mb-6 flex gap-x-3 items-center" >
				<BriefCase class="size-7 "/>
				Experiencia laboral
			</h2>
			<Experience>
		</SectionContainer>
		<SectionContainer class="py-44 pb-24" id="proyectos">
			<h2 class=" text-color2/80 text-2xl font-semibold mb-6 flex gap-x-3 items-center" >
				<Code class="size-7"/>
				Proyectos
			</h2>
			<Projects/>
		</SectionContainer>
		<SectionContainer class="py-44 pb-24" id="contacto">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
				<Mail class="size-7 text-color2/80"/>
				Contacto
			</h2>
			<Form/>
		</SectionContainer>
	</main>
</Layout>


