---
 const personalImageAlt = "Maki Giuseppe"
---

<article class="flex flex-col items-center justify-center gap-8  dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>隆Hola! Me llamo Maki Giuseppe De la Vega Silva, tengo 31 a帽os y soy de Lima, Per煤 叼. Actualmente estoy cursando la carrera de Computaci贸n e Inform谩tica. Mi principal fuerte es el desarrollo frontend, y me apasiona trabajar con aplicaciones web y m贸viles.</p>

    <p>
      Entre mis principales fortalezas como programador destaco mi flexibilidad y capacidad de adaptaci贸n a nuevos entornos de trabajo y programaci贸n. He realizado proyectos que requer铆an mucha investigaci贸n y trabajo en equipo, logrando desarrollar soluciones de gran relevancia.
    </p>

    <p>
      Cuento con experiencia en el desarrollo de sistemas web basados en microservicios, siempre enfocados en satisfacer las necesidades de empresas.
    </p>
  </div>

  <img width="200" height="200" src="../../public/IMG.jpg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>