---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
    {
        date: 'Abril 2024',
        title:'Desarrollador frontend en AmericanChanger',
        description:'Como desarrollador de frontend, colaboré estrechamente dentro de un equipo multidisciplinario para crear un sistema web completo. Mi enfoque se centró en desarrollar componentes clave para consultas, vistas, inicio de sesión y mantenimiento. Este trabajo aseguró una experiencia de usuario óptima y contribuyó al éxito general del proyecto',
        location:'Fort Lauderdale, USA'
    },
    {
        date: 'Septiembre 2022',
        title:'Frontend Developer en Servimexa',
        description:'Fui responsable del desarrollo completo tanto del frontend como del backend para un sistema web diseñado para una ferretería. Utilicé lenguajes como HTML, CSS y Javascript para crear una plataforma robusta y funcional. Implementé con éxito un sistema de autenticación de usuarios (login) y funcionalidades de consulta y mantenimiento que optimizaron las operaciones del negocio. Mi contribución aseguró una experiencia de usuario fluida y una gestión eficiente de datos tanto para el personal como para los clientes de la ferretería',
        location:'Lima, Peru'
    },
    
    
]
---

<ol class="relative border-s border-gray-200 ml-3">                  
    {
        EXPERIENCE.map((experiencie)=>(
            <li class="mb-10 ms-4">
                <ExperienceItem {...experiencie}/>
            </li>
        ))
    }
</ol>

